 .wrapper {
    height: 150px;
    /* perspective: 700px;
    -webkit-perspective: 700px; */
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
} 
.dices {
    /* max-width: 300px; */
    display: grid;
    grid-gap: 10px;
    display: flex;
}

.dice { /* cube */
    width: 100px;
    height: 100px;
    /* transform-style: preserve-3d;
    transform: rotateX(45deg) rotateY(-45deg); */
    transition: transform 2s ease-in-out; /* Animationseffekt */

    border: 2px solid rgb(91, 91, 91);
    border-radius: 10%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: radial-gradient(circle,rgba(255,255,255,1) 0%, rgba(249,249,249,1) 34%, rgba(218,218,218,1) 68%, rgba(134,134,134,1) 95%,rgba(0,0,0,1) 98%);
    box-shadow: 10px 10px 25px -4px #000;
} 

.dice .ninth .circle {
    background-color: #000;
    height:         60%;
    border-radius: 100%;
    margin:         20%;
}

.dice .ninth .none {
    display: none;
}

/* 
.cube > div {
    position: absolute;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-transform: uppercase;
}

.cube div:nth-child(1) {
    transform: translateZ(60px);
    border: 2px solid rgb(91, 91, 91);
    border-radius: 10%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: radial-gradient(circle,rgba(255,255,255,1) 0%, rgba(249,249,249,1) 34%, rgba(218,218,218,1) 68%, rgba(134,134,134,1) 95%,rgba(0,0,0,1) 98%);
    /* box-shadow: 10px 10px 25px -4px #000; 
}
.cube div:nth-child(1)::before {
    content: '';width: 100%;height: 35%;border-radius: 100%;background-color: black;margin: 100%;
}

.cube div:nth-child(2) {
    transform: rotateX(180deg) translateZ(60px);
    border: 2px solid rgb(91, 91, 91);
    border-radius: 10%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: radial-gradient(circle,rgba(255,255,255,1) 0%, rgba(249,249,249,1) 34%, rgba(218,218,218,1) 68%, rgba(134,134,134,1) 95%,rgba(0,0,0,1) 98%);
    /* box-shadow: 10px 10px 25px -4px #000; 
}
.cube div:nth-child(2)::before {
    content: '';width: 100%;height: 35%;border-radius: 100%;background-color: black;margin: 20%;
}
.cube div:nth-child(2)::before {
    content: '';width: 100%;height: 35%;border-radius: 100%;background-color: black;margin: 80%;
}






.cube div:nth-child(3) {
    transform: rotateY(-90deg) translateZ(60px);
    border: 2px solid rgb(91, 91, 91);
    border-radius: 10%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: radial-gradient(circle,rgba(255,255,255,1) 0%, rgba(249,249,249,1) 34%, rgba(218,218,218,1) 68%, rgba(134,134,134,1) 95%,rgba(0,0,0,1) 98%);
    /* box-shadow: 10px 10px 25px -4px #000; 
}

.cube div:nth-child(4) {
    transform: rotateY(90deg) translateZ(60px);
    border: 2px solid rgb(91, 91, 91);
    border-radius: 10%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: radial-gradient(circle,rgba(255,255,255,1) 0%, rgba(249,249,249,1) 34%, rgba(218,218,218,1) 68%, rgba(134,134,134,1) 95%,rgba(0,0,0,1) 98%);
    /* box-shadow: 10px 10px 25px -4px #000; 
}

.cube div:nth-child(5) {
    transform: rotateX(90deg) translateZ(60px);
    border: 2px solid rgb(91, 91, 91);
    border-radius: 10%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: radial-gradient(circle,rgba(255,255,255,1) 0%, rgba(249,249,249,1) 34%, rgba(218,218,218,1) 68%, rgba(134,134,134,1) 95%,rgba(0,0,0,1) 98%);
    /* box-shadow: 10px 10px 25px -4px #000; 
}

.cube div:nth-child(6) {
    transform: rotateX(-90deg) translateZ(60px);
    border: 2px solid rgb(91, 91, 91);
    border-radius: 10%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: radial-gradient(circle,rgba(255,255,255,1) 0%, rgba(249,249,249,1) 34%, rgba(218,218,218,1) 68%, rgba(134,134,134,1) 95%,rgba(0,0,0,1) 98%);
   /*  box-shadow: 10px 10px 25px -4px #000; 
}

.dice .ninth .circle{
    background-color: #000;
    height: 68%;
    border-radius: 100%;
    margin: 20%;
}
.face{
    color: #000!important;
    
}
*/